:root {
  --blue: #295db1;
  --indigo: #252235;
  --purple: #c234c6;
  --pink: #eff3f4;
  --red: #d02a3e;
  --orange: #dbda4a;
  --yellow: #f2f11d;
  --green: #4faf41;
  --teal: #b9c8c5;
  --cyan: #37b0db;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #295db1;
  --secondary: #37b0db;
  --success: #4faf41;
  --info: #dbda4a;
  --warning: #f2f11d;
  --danger: #d02a3e;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.app-container {
  box-sizing: border-box;
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr; */
  min-height: 100vh;
}

.graph {
  min-height: 400px;
}
.form-container {
  box-sizing: border-box;
  position: relative;
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* On affiche pas les footers pour tout petits écrans */
div.lyceum-footer {
  display: none;
}
.form {
  padding: 1em;
}

/* For xs-screens(var are not supported) */
@media only screen and (min-width: 576px) {
  div.lyceum-footer {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    display: block;
  }
  div.lyceum-footer img {
    height: 2rem;
    margin-right: 0.7rem;
  }

  div.lyceum-footer a {
    color: var(--blue);
  }
}

/* For lg-screens(var are not supported) */
@media only screen and (min-width: 992px) {
  .form-container {
    height: calc(100% - 2em);
  }
}
